header.header
  .container
    .header__top.top-header
      .top-header__content
        .top-header__column
          .top-header__menu.menu
            .menu__icon.icon-menu
             span
             span
             span
            nav.menu__body
              ul.menu__list
                li
                   a(class='menu__link' href="#") Бренды
                li
                   a.menu__link(href="#") Распродажа
                li
                   a.menu__link(href="#") Доставка и Сборка
                li
                   a.menu__link(href="#") Гарантия
                li
                   a.menu__link(href="#") Оплата
                li
                   a.menu__link(href="#") Контакты
        .top-header__column
           a.top-header__logo(href="")
             img(src="/images/header/logo.png", alt="logo")
        .top-header__column
          .top-header__contacts.contacts-header
            .contacts-header__column.contacts-header__column_forcart
              .contacts-header__item.contacts-header__item_icon
                .contacts-header__label Москва
                a.contacts-header__phone(href="tel:84991234567") 8-499-123-45-67
            .contacts-header__column
              .contacts-header__item.contacts-header__item_second-phone
                .contacts-header__label Бесплатно для России
                a.contacts-header__phone(href="tel:84991234567") 8-499-123-45-67  
    .header__bottom.bottom-header
      .bottom-header__content
        .bottom-header__column
          ul.bottom-header__actions.actions-header(data-da="menu__body,0,640")
            li
              a.actions-header__item.actions-header__item_login(href="#")
               span Вход
            li
              a.actions-header__item.actions-header__item_reg(href="#")
                span Регистрация
            li
              a.actions-header__item.actions-header__item_email(href="mailto:")
                span sport@gmail.com
        .bottom-header__column
         .bottom-header__info.info-header
            .info-header__column
             a.info-header__callback(href="#")(data-da="menu__list,6,640")
                span Обратный звонок
            .info-header__column
             a.info-header__schedule(href="#")
                p
                  span Пн–Пт:
                  | 09:00–21:00;
                p
                  span Сб–Вс:
                  | 10:00–20:00
            .info-header__column
              a.info-header__cart(href="#")(data-da="contacts-header__column_forcart,3,640")
               span 12

              


  