//FONTS
//main-font
%Roboto-Regular{
  font-family:'Roboto-Regular', sans-serif;
  font-weight: 500;
}
%Roboto-Bold{
  font-family:'Roboto-Bold', sans-serif;
  font-weight: 700;
}
%Roboto-Light{
  font-family: 'Roboto-Light', sans-serif;
  font-weight: 300;
}
%Play{
  font-family: 'Play-Bold', sans-serif;
  font-weight: 700;
}
%unisans{
  font-family: 'unisansheavycaps', sans-serif;
  font-weight: 500;
}




$mainFontColor           : #fff;
$mainFontSize            : 18px;
$mainLineHeight          : 1;

$maxWidth                :1400;
$minWidth                :320px;
$maxWidthContainer       :1170;
$md1: $maxWidthContainer +12;
$md2                     :991.98;
$md3                     :767.98;
$md4                     :479.98;

$desktopWidth            : 1400px;
$smDesktopWidth          : 980px;
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;





