main.page
  .container
    .page__container
      aside.page__aside
        nav.page__menu.menu-page
            .menu-page__header
              .menu-page__title Каталог товаров
              .menu-page__burger
                .menu-page__line
                  span
                  span
                  span
            .menu-page__body
              ul.menu-page__list
                li.menu-page__item.menu-page__item_parent
                  a(href="#").menu-page__link Беговые дорожки
                  .menu-page__submenu.submenu-page
                    .submenu-page__item
                      ul.submenu-page__menu
                        li
                          a.submenu-page__link(href="#") Всепогодный
                        li
                          a.submenu-page__link(href="#") Для помещений
                        li
                          a.submenu-page__link(href="#") Профессиональный
                        li
                          a.submenu-page__link(href="#") Любительский
                      .submenu-page__product
                        .item-product
                          .item-product__lables
                            .item-product__lable.item-product__lable_active Товар дня
                          a.item-product__img(href="#")
                             img(src=require("./images/product-submenu.png").default, alt="promo")
                          .item-product__body
                            a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
                          .item-product__footer
                            .item-product__old-price 64990 ₽ 
                            a.item-product__add(href="#")
                            .item-product__price 64990 ₽
                li.menu-page__item.menu-page__item_parent
                  a(href="#").menu-page__link Эллиптические тренажеры
                  .menu-page__submenu.submenu-page
                    .submenu-page__item
                      ul.submenu-page__menu
                        li
                          a.submenu-page__link(href="#") Всепогодный
                        li
                          a.submenu-page__link(href="#") Для помещений
                        li
                          a.submenu-page__link(href="#") Профессиональный
                        li
                          a.submenu-page__link(href="#") Любительский
                      .submenu-page__product
                        .item-product
                          .item-product__lables
                            .item-product__lable Товар дня
                          a.item-product__img(href="#")
                             img(src=require("./images/product-submenu.png").default, alt="promo")
                          .item-product__body
                            a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
                          .item-product__footer
                            .item-product__old-price 64990 ₽ 
                            a.item-product__add(href="#")
                            .item-product__price 64990 ₽
                li.menu-page__item
                  a(href="#").menu-page__link Велотренажеры
                li
                  a(href="#").menu-page__link Гребные тренажеры
                li.menu-page__item
                  a(href="#").menu-page__link Вибромассажеры
                li.menu-page__item.menu-page__item_parent
                  a(href="#").menu-page__link Теннисные столы
                    .menu-page__submenu.submenu-page
                      .submenu-page__item
                        ul.submenu-page__menu
                          li
                            a.submenu-page__link(href="#") Всепогодный
                          li
                            a.submenu-page__link(href="#") Для помещений
                          li
                            a.submenu-page__link(href="#") Профессиональный
                          li
                            a.submenu-page__link(href="#") Любительский
                        .submenu-page__product
                          .item-product
                            .item-product__lables
                              .item-product__lable.item-product__lable_active Товар дня
                            a.item-product__img(href="#")
                               img(src=require("./images/product-submenu.png").default, alt="promo")
                            .item-product__body
                              a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
                            .item-product__footer
                              .item-product__old-price 64990 ₽ 
                              a.item-product__add(href="#")
                              .item-product__price 64990 ₽
                li.menu-page__item
                  a(href="#").menu-page__link Баскетбол
                li.menu-page__item
                  a(href="#").menu-page__link Массажные кресла
                li.menu-page__item.menu-page__item_parent
                  a(href="#").menu-page__link Массажные столы
                  .menu-page__submenu.submenu-page
                    .submenu-page__item
                      ul.submenu-page__menu
                          li
                            a.submenu-page__link(href="#") Всепогодный
                          li
                            a.submenu-page__link(href="#") Для помещений
                          li
                            a.submenu-page__link(href="#") Профессиональный
                          li
                            a.submenu-page__link(href="#") Любительский
                      .submenu-page__product
                        .item-product
                          .item-product__lables
                            .item-product__lable Товар дня
                          a.item-product__img(href="#")
                              img(src=require("./images/product-submenu.png").default, alt="promo")
                          .item-product__body
                            a(href="#").item-product__title Домашний теннисный стол Donic Indoor Roller 800 Green
                          .item-product__footer
                            .item-product__old-price 64990 ₽ 
                            a.item-product__add(href="#")
                            .item-product__price 64990 ₽
                li.menu-page__item
                  a(href="#").menu-page__link Силовые тренажеры
                li.menu-page__item
                  a(href="#").menu-page__link Батуты
                li.menu-page__item
                  a(href="#").menu-page__link Детские городки
                li.menu-page__item
                  a(href="#").menu-page__link Дачная мебель
                li.menu-page__item
                  a(href="#").menu-page__link Уличные спортивные комплексы
                li.menu-page__item
                   a(href="#").menu-page__link Аксессуары
      .page__content
      


